header {
	background-color: #AFB42B;
}

canvas {
    cursor: default;
}

.button_control {
    color: #AFB42B;
    cursor: pointer;
}

.button_control.active {
    background: #AFB42B;
}


.button_control.button_blur_off, .button_control.button_blur_off::before {
    border-radius: 24px 0 0 24px;
    padding-left: 56px;
}

.button_control.button_blur_off::after {
    top: 0;
    left: 8px;
    background: url('../shared/images/blur_off_lime.png');
}

.button_control.active.button_blur_off::after {
    background: url('../shared/images/blur_off.png');
}

.button_control.button_blur_on, .button_control.button_blur_on::before {
    border-radius: 0 24px 24px 0;
    padding-right: 56px;
}

.button_control.button_blur_on::after {
    top: 0;
    right: 8px;
    background: url('../shared/images/blur_on_lime.png');
}


.button_control.active.button_blur_on::after {
    background: url('../shared/images/blur_on.png');
}

.button_control.button_upload, .button_control.button_upload::before {
    border-radius: 24px;
}

.button_control.button_upload {
    width: 250px;
    padding-left: 56px;
    padding-right: 8px;
    line-height: 48px;
    text-align: center;
    display: block;
}

.button_control.button_upload>span {
    display: block;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.button_control.button_upload:active {
    background: #AFB42B;
    color: #fafafa;
}

.button_control.button_upload::after {
    top: 0;
    left: 7px;
    z-index: 3;
    background: url('../shared/images/image_lime.png');
}

.button_control.button_upload:active::after {
    background: url('../shared/images/image.png');
}

.button_control.button_upload input {
    width: 190px;
    outline: rgba(0, 0, 0, 0);
    cursor: pointer;
}

#input_file {
    display: none;
}

.button_floating:active {
    background: rgb(175, 180, 43);
}

.button_floating.back::after {
    background: url('../shared/images/back_lime.png');
}

.button_floating.forward::after {
    background: url('../shared/images/forward_lime.png');
}

.button_floating.home::after {
    background: url('../shared/images/home_lime.png');
}

.github-corner svg {
    fill: #AFB42B;
}
