.button_floating {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    cursor: pointer;
    opacity: 0.3;

    width: 48px;
    height: 48px;
    border-radius: 24px;
    
    background:#FAFAFA;    
    outline: none;
    transition: all 0.3s;
}

.button_floating::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: transparent;
    border-radius: 24px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.57);
}

.button_floating::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;
}

.button_floating:active {
    color: #FAFAFA;
}

.button_floating.back, .button_floating.left {
    left: 16px;
}

.button_floating.forward, .button_floating.right {
    right: 16px;
}

.button_floating:hover {
    opacity: 1;
}

.button_floating:active.back::after {
    background: url('../images/back.png');
}

.button_floating:active.forward::after {
    background: url('../images/forward.png');
}

.button_floating:active.home::after {
    background: url('../images/home.png');
}
