html {
    width: auto;
    height: 100%;
}

body {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    min-height: 100%;
    min-width: 964px;
    padding: 16px;

    background: #EEEEEE;
    font-family: sans-serif;
}

main {
    transition: margin 1s;
    margin-left: -150%;
}

main.ready {
    margin-left: 0;
}

main.forward {
    margin-left: -150%;
}

main.back {
    margin-right: -150%;
}

.elevated {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 800px;
}

header {
    height: 48px;
    z-index: 1;
    position: relative;
	color: #fafafa;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

header .title {
    padding: 16px;
    font-size: 20px;
    user-select: none;
}

button.clear {
    position: relative;
    float: right;

	margin: 8px 12px 8px 0px;

	width: 32px;
    height: 32px;
    
    outline: none;
    background: url('../../shared/images/clear.png');
}

button.clear:before {
    content: '';
    display: block;
    position: absolute;

	left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    z-index: 3;
}

canvas {
    width: 100%;
    height: 540px;
    background: #FAFAFA;
    cursor: crosshair;
}

.buttons {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.mode {
    display: block;
    position: relative;
    margin-top: 8px;
	padding: 0 8px;
    
    width: 160px;    
    height: 48px;
    
    font-weight: bold;
    background:#FAFAFA;
    
    outline: none;
    transition: all 0.3s;
}

button.mode.active {
    color: #FAFAFA;
}

button.mode::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.57);
}

button.mode::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    width: 48px;
    height: 48px;
}

.divider {
    width: 64px;
}