header {
	background-color: #2196F3;
}

button.mode {
    color: #2196F3;
}

button.mode.active {
    background: #2196F3;
}


button.mode.button_line, button.mode.button_line::before {
    border-radius: 24px 0 0 24px;
    padding-left: 56px;
}

button.mode.button_line::after {
    top: 0;
    left: 8px;
    background: url('../../shared/images/line_blue.png');
}

button.mode.active.button_line::after {
    background: url('../../shared/images/line.png');
}

button.mode.button_circle, button.mode.button_circle::before {
    border-radius: 0 24px 24px 0;
    padding-right: 56px;
}

button.mode.button_circle::after {
    top: 0;
    right: 8px;
    background: url('../../shared/images/circle_blue.png');
}


button.mode.active.button_circle::after {
    background: url('../../shared/images/circle.png');
}

.button_floating.back::after {
    background: url('../../shared/images/back_blue.png');
}

.button_floating.forward::after {
    background: url('../../shared/images/forward_blue.png');
}

.button_floating:active.back::after {
    background: url('../../shared/images/back.png');
}

.button_floating:active.forward::after {
    background: url('../../shared/images/forward.png');
}
