canvas {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0;
}

fieldset {
    box-sizing: border-box;
    border: 1px black solid;
    margin: 0;
}

.pages {
    margin-top: 10px;
}

#page2 {
    padding-left: 1px;
    border-left: none;
}

input[type="number"] {
    width: 40px;
}