
header {
	background-color: #424242;
}

canvas {
    cursor: default;
}

.button_control {
    color: #424242;
    cursor: pointer;
    width: auto;
    min-width: 64px;
}

.button_control.active,
.button_control.immediate:active,
.slider_holder.active {
    background: #424242;
    color: #FAFAFA;
}

.slider_holder {
    display: block;
    position: relative;
    margin-top: 8px;
    padding: 6px 8px;
    height: 48px;
    font-weight: bold;
    background: #FAFAFA;
    color: #424242;
    text-align: center;
    outline: none;
    transition: background-color 0.3s;
}

.buttons.scene .slider_holder {
    width: 109px;
}

.buttons.objects .slider_holder {
    width: 116px;
}

.buttons.camera .slider_holder {
    width: 120px;
}

.buttons.target .slider_holder {
    width: 240px;
}

.buttons.modes .button_control {
    width: 120px;
}

.slider_holder.torus {
    width: 116px;
}

.slider_holder.cylinder {
    width: 154px;
}

.slider_holder.cylinder.last {
    width: 156px;
}

.slider_holder:active {
    background: #424242;
    color: #FAFAFA;
}

.first,
.first::before {
    border-radius: 24px 0 0 24px;
}

.last,
.last::before {
    border-radius: 0 24px 24px 0;
}

.slider_holder::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.23);
    transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1);
}


.slider_holder:active::before {
    z-index: 3;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
}

.slider_holder input {
    width: 90%;
}

.slider_holder.torus, .slider_holder.cylinder {
    display: none;
}

.buttons.more {
    display: none;
    margin-top: 0;
}

.buttons.more.visible {
    display: flex;
}

.button_triangles,
.button_lines {
    width: 64px;
}

.button_control.button_triangles::after {
    top: 0;
    left: 8px;
    background: url('../shared/images/clip_poly_brown.png');
}

.button_control.active.button_triangles::after {
    background: url('../shared/images/clip_poly.png');
}

.button_control.button_lines::after {
    top: 0;
    left: 8px;
    background: url('../shared/images/clip_brown.png');
}

.divider {
    width: 24px;
}


.button_control.active.button_lines::after {
    background: url('../shared/images/clip.png');
}

.button_floating:active {
    background: #424242;
}

.button_floating.back::after {
    background: url('../shared/images/back_brown.png');
}

.button_floating.forward::after {
    background: url('../shared/images/forward_brown.png');
}

.button_floating.home::after {
    background: url('../shared/images/home_brown.png');
}

.github-corner svg {
    fill: #424242;
}
