html {
    width: auto;
    height: 100%;
}

body {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    min-height: 100%;
    min-width: 964px;
    padding: 16px;

    background: #EEEEEE;
    font-family: sans-serif;
}

.elevated {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 800px;
}

header {
    height: 48px;
    z-index: 1;
    position: relative;
	background-color: #009688;
	color: #fafafa;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

header .title {
    padding: 16px;
    font-size: 20px;
    user-select: none;
}

button.clear {
    position: relative;
    float: right;

	margin: 8px 12px 8px 0px;

	width: 32px;
    height: 32px;
    
    outline: none;
}

button.clear:before {
    content: '';
    display: block;
    position: absolute;

	left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    z-index: 3;
    
    background: url('../images/clear.png');
}

canvas {
    width: 100%;
    height: 540px;
    background: #FAFAFA;
    cursor: crosshair;
}

.buttons {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.mode {
    display: block;
    position: relative;
    margin-top: 8px;
	padding: 0 8px;
    
    width: 160px;    
    height: 48px;
    
    font-weight: bold;
    background:#FAFAFA;
    color:#009688;
    
    outline: none;
    transition: all 0.3s;
}

button.mode.active {
    background: #009688;
    color: #FAFAFA;
}

button.mode::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.57);
}

button.mode::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    width: 48px;
    height: 48px;
}


button.mode.button_line, button.mode.button_line::before {
    border-radius: 24px 0 0 24px;
    padding-left: 56px;
}

button.mode.button_line::after {
    top: 0;
    left: 8px;
    background: url('../images/line_cyan.png');
}

button.mode.active.button_line::after {
    background: url('../images/line.png');
}

button.mode.button_rectangle, button.mode.button_rectangle::before {
    border-radius: 0 24px 24px 0;
    padding-right: 56px;
}

button.mode.button_rectangle::after {
    top: 0;
    right: 8px;
    background: url('../images/rectangle_cyan.png');
}

button.mode.active.button_rectangle::after {
    background: url('../images/rectangle.png');
}



button.mode.button_clip, button.mode.button_clip::before {
    border-radius: 24px 0 0 24px;
    padding-left: 56px;
}

button.mode.button_clip::after {
    top: 0;
    left: 8px;
    background: url('../images/clip_cyan.png');
}

button.mode.active.button_clip::after {
    background: url('../images/clip.png');
}

button.mode.button_unclip, button.mode.button_unclip::before {
    border-radius: 0 24px 24px 0;
    padding-right: 56px;
}

button.mode.button_unclip::after {
    top: 0;
    right: 8px;
    background: url('../images/unclip_cyan.png');
}

button.mode.active.button_unclip::after {
    background: url('../images/unclip.png');
}

.divider {
    width: 64px;
}
