header {
	background-color: #009688;
}

button.mode {
    color:#009688;
}

button.mode.active {
    background: #009688;
}

button.mode.button_line, button.mode.button_line::before {
    border-radius: 24px 0 0 24px;
    padding-left: 56px;
}

button.mode.button_line::after {
    top: 0;
    left: 8px;
    background: url('../../shared/images/line_cyan.png');
}

button.mode.active.button_line::after {
    background: url('../../shared/images/line.png');
}

button.mode.button_rectangle, button.mode.button_rectangle::before {
    border-radius: 0 24px 24px 0;
    padding-right: 56px;
}

button.mode.button_rectangle::after {
    top: 0;
    right: 8px;
    background: url('../../shared/images/rectangle_cyan.png');
}

button.mode.active.button_rectangle::after {
    background: url('../../shared/images/rectangle.png');
}

button.mode.button_clip, button.mode.button_clip::before {
    border-radius: 24px 0 0 24px;
    padding-left: 56px;
}

button.mode.button_clip::after {
    top: 0;
    left: 8px;
    background: url('../../shared/images/clip_cyan.png');
}

button.mode.active.button_clip::after {
    background: url('../../shared/images/clip.png');
}

button.mode.button_unclip, button.mode.button_unclip::before {
    border-radius: 0 24px 24px 0;
    padding-right: 56px;
}

button.mode.button_unclip::after {
    top: 0;
    right: 8px;
    background: url('../../shared/images/unclip_cyan.png');
}

button.mode.active.button_unclip::after {
    background: url('../../shared/images/unclip.png');
}

.button_floating:active {
    background: #009688;
}

.button_floating.back::after {
    background: url('../../shared/images/back_cyan.png');
}

.button_floating.forward::after {
    background: url('../../shared/images/forward_cyan.png');
}

.github-corner svg {
    fill: #009688;
}
