
header {
	background-color: #795548;
}

canvas {
    cursor: default;
}

.button_control {
    color: #795548;
    cursor: pointer;
}

.button_control.active {
    background: #795548;
}


.slider_holder {
    display: block;
    position: relative;
    margin-top: 8px;
    padding: 6px 8px;

    width: 160px;
    height: 48px;

    font-weight: bold;
    background: #FAFAFA;
    color: #795548;
    text-align: center;

    outline: none;
    transition: background-color 0.3s;
}

.slider_holder:active {
    background: #795548;
    color: #FAFAFA;
}

.slider_holder:first-child,
.slider_holder:first-child::before {
    border-radius: 24px 0 0 24px;
}

.slider_holder:last-child,
.slider_holder:last-child::before {
    border-radius: 0 24px 24px 0;
}

.slider_holder::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.23);
    transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1);
}


.slider_holder:active::before {
    z-index: 3;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
}

.slider_holder input {
    width: 90%;
}

.button_floating:active {
    background: #795548;
}

.button_floating.back::after {
    background: url('../shared/images/back_orange.png');
}

.button_floating.forward::after {
    background: url('../shared/images/forward_orange.png');
}

.button_floating.home::after {
    background: url('../shared/images/home_orange.png');
}

.github-corner svg {
    fill: #795548;
}
