
#page1, #page2 {
    display: none;
}

input[type="number"] {
    width: 40px;
}

header {
	background-color: #D81B60;
}

canvas {
    cursor: default;
}

button.mode {
    color:#D81B60;
}

button.mode.active {
    background: #D81B60;
}

button.mode.button_clear_full, button.mode.button_clear_full::before {
    border-radius: 24px 0 0 24px;
    padding-left: 56px;
}

button.mode.button_clear_full::after {
    top: 0;
    left: 8px;
    background: url('../../shared/images/clear_full_red.png');
}

button.mode.active.button_clear_full::after {
    background: url('../../shared/images/clear_full.png');
}

button.mode.button_clear_box, button.mode.button_clear_box::before {
    border-radius: 0 24px 24px 0;
    padding-right: 56px;
}

button.mode.button_clear_box::after {
    top: 0;
    right: 8px;
    background: url('../../shared/images/clear_box_red.png');
}

button.mode.active.button_clear_box::after {
    background: url('../../shared/images/clear_box.png');
}

button.mode.button_clear_disabled, button.mode.button_clear_disabled::before {
    text-align: center;
}

.button_floating:active {
    background: #D81B60;
}

.button_floating.back::after {
    background: url('../../shared/images/back_red.png');
}

.button_floating.forward::after {
    background: url('../../shared/images/forward_red.png');
}
.button_floating.home::after {
    background: url('../../shared/images/home_red.png');
}

.github-corner svg {
    fill: #D81B60;
}
